@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&family=Roboto:wght@100;300;400;500&display=swap");

$fontstack: "Roboto", sans-serif;
$descriptionfont: "Inter", sans-serif;
$namecolor: rgba(51, 52, 71, 1);
$tadatextcolor: rgba(37, 37, 37, 1);
$color: rgba(63, 62, 62, 1);
$grey: rgba(152, 152, 152, 1);
$linkcolor: rgba(8, 189, 55, 1);
$linkbackgroundcolor: #f9f9f9;
$peach: rgba(255, 244, 234, 1);
$templatecardbackground: rgba(255, 255, 255, 1);
$bordercolor: rgba(189, 189, 189, 1);
$neutralcolor: rgba(0, 0, 0, 0.5);
$blackcolor: black;
$mediumtext: 18px;
$smalltext: 13px;
$bigtext: 24px;

.btn{
    padding: 10px 50px;
    font-family: $fontstack;
    font-size: $smalltext;
    font-weight: 500;
    color: white;
  }
