@import "./components/common/config";
@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  text-align: center;
}
.header {
  width: 100%;
  padding: 1% 5%;
  margin: 1% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  .company-name {
    font-family: "Viaoda Libre", cursive;
    font-size: $bigtext;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: black;
      font-family: "Viaoda Libre", cursive;
      font-size: $smalltext;
      margin: 0 5px;
      @media only screen and (min-width: 900px) {
        margin: 0;
        font-size: $mediumtext;
      }
    }
    @media only screen and (min-width: 900px) {
      width: 30%;
    }
  }
  .hamburger svg {
    display: inline;
    width: 28px;
    height: 28px;
    fill: rgb(85, 85, 85);
  }
}
.to-cart {
  position: relative;
  .cart-counter {
    position: absolute;
    font-size: $smalltext;
  }
}

.btn--chkout{
  background-color: black;
  margin: 5% 0;
}
.product-container {
  width: 90%;
  margin: 2% auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2%;
  grid-row-gap: 15px;
  @media only screen and (min-width: 1100px) {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}
.emptycart-text {
  text-align: center;
}
