* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}
.header {
  width: 100%;
  padding: 3% 5%;
  margin: 0 0 3% ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-nav {
    .nav-ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        list-style: none;
        color: black;
        font-size: 15px;
      }
    }
  }
  .hamburger {
    @media only screen and (min-width: 700px) {
      display: none;
    }
  }
}
